*{margin:0;padding:0;}
ul,li{list-style:none;}
.floatLeft{float:left;}
.numberWrapper{position:absolute;right:0;bottom:5px;}.numberWrapper .numberList{display:inline;padding:2px 7px;margin-right:5px;border-radius:10px;background:#fff;color:#000;opacity:0.8;filter:alphaï¼ˆopacity=80);cursor:pointer;}
.numberWrapper .selected{color:red;}
